<h1 class="display-1 text-center animated fadeIn fast">Comic Heroes App</h1>
<hr>
<h2 class="display-3 text-center animated fadeIn" >¿Que es?</h2>
<h4 class="text-justify animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam est maxime adipisci a impedit quis quo consectetur quidem veritatis, placeat mollitia. Maiores dolores veritatis illum ipsam maxime itaque doloremque velit.
</h4>
<hr>
<h2 class="display-3 text-center animated fadeIn">¿Para Que Sirve?</h2>
<h4 class="text-justify animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam est maxime adipisci a impedit quis quo consectetur quidem veritatis, placeat mollitia. Maiores dolores veritatis illum ipsam maxime itaque doloremque velit.
</h4>
