<h1 class="display-1">Perfil de Usuario</h1>
<hr>

<!--  todo: json que llama lo reasignamos por el pipe async y lo nombramos profile y de ahi accedemos a todos nuestros datos -->
    <div  *ngIf="auth.userProfile$ | async as profile" class="card">
        <img [src]="profile.picture" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{profile.name}}</h5>
          <p class="card-text">
          - Perfil creado en:{{ profile.updated_at}}
          - Email: {{profile.email}}
          </p>
          <a href="#" class="btn btn-primary disabled">Actualizar</a>
        </div>
      </div>

<hr>
<pre *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile | json }}</code>
    </pre>
